<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - The Jensens Daily </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/JensensWebApp.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/contact.css" asp-append-version="true" />
</head>

<body>
    <header class="site-header">
        <nav class="navbar">
            <div class="header-container">
                <div class="navbar-brand-wrapper">
                    <a href="/" class="navbar-brand">The Jensens Daily</a>
                    <button id="dark-mode-button" class="btn btn-secondary">Dark Mode</button>
                    <div class="dropdown">
                        <button class="dropdown-button">
                            <span class="hamburger-icon"></span>
                            <span class="hamburger-icon"></span>
                            <span class="hamburger-icon"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li class="dropdown-item"><a href="/">Home</a></li>
                            <li class="dropdown-item"><a href="/Home/Contact">Contact</a></li>
                            <li class="dropdown-item"><a href="/Home/Subscription">Subscription</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>

        <div class="topic-menu">
            @using (Html.BeginForm("Index", "Home", FormMethod.Get, new { id = "topicForm" }))
            {
                <ul class="topic-list">
                    @if (ViewBag.TopicDisplayNames != null)
                    {
                        var topicDisplayNames = ViewBag.TopicDisplayNames as Dictionary<string, string>;
                        if (topicDisplayNames != null)
                        {
                            foreach (var topic in topicDisplayNames)
                            {
                                <li class="topic-item">
                                    <a href="#"
                                        onclick="document.getElementById('topic').value='@topic.Key'; document.getElementById('topicForm').submit(); return false;">
                                        @topic.Value
                                    </a>
                                </li>
                            }
                        }
                    }
                </ul>
                @Html.Hidden("topic", "", new { id = "topic" })
            }
        </div>
    </header>

    <div class="body-container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - JensensWebApp - <a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
